/Contract
/DATA_GM_RawData
/Literature
/MATLAB/Main/CellArrayAllEvent.mat
/Building_info/Taufkirchen
/Building_info/Scans
/Building_info/fotos
/Building_info/ANSYS_simple_model
/ANSYS_Building_model/Results_Ansys
/PCE_surrogate/InputData/Realization
/PCE_surrogate/InputData/Realization_frf
/PCE_surrogate/InputData/Realization_frf_noSSI
/PCE_surrogate/InputData/Realization_frf_noSSI_ex221

*.mat
